Package: dns2proxy
Version: 1.0-3
Depends: libc, python, python-dns, python-pcapy
Source: package/net/dns2proxy
Section: net
Maintainer: Andreas Nilsen <adde88@gmail.com>
Architecture: ar71xx
Installed-Size: 6169
Description:  This tools offer a different features for post-explotation once you change
 the DNS server to a Victim. <Referer to help (-h) to new params options>
