Package: sslstrip2
Version: 1.0-1
Depends: libc, python, twisted, twisted-web, pyopenssl, dns2proxy
Source: package/net/sslstrip2
Section: net
Maintainer: Andreas Nilsen <adde88@gmail.com.com>
Architecture: ar71xx
Installed-Size: 8572
Description:  With the new feature to avoid HTTP Strict Transport Security (HSTS)
 protection mechanism.
